@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #1f2235;
  --red: #ff4a57;
  --white: #fff;
  --green: rgb(48 183 58 / 46%);

  --card-width: 200px;
  --card-height: 300px;

  --card-transition-duration: 800ms;
  --card-transition-easing: ease;

  /* dropdown */
  --bg-color: #222429;
  --primary-bg-color: #333740;
  --primary-color: #2c62f6;
  --text-color: #b1b8ca;
  --text-active: #ffffff;
  --button-hover-bg-color: #2b2e34;
  --border-color: #494d59;
  --dropdown-height: 0;
  --rotate-arrow: 0;
  --translate-value: 0;
  --list-opacity: 0;
  --transition-time: 0.4s;
  --transition-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --border-radius: 1.4rem;
  --list-button-height: 3rem;
  --floating-icon-size: 26;
  --floating-icon-top: 0;
  --floating-icon-left: 0;
}


html,
body {
}

body {
}

/* ----------header------------ */

header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;

  position: relative;
}

/* nav  */

.nav-container {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.nav-container h1 {
  color: #2c2c2c;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

.nav-container h1 i {
  font-size: 45px;
  color: #35a22c;
}

.menu {
  margin: 0 -16px;
}

.menu a {
  color: #fff;
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
  font-size: 1.2rem;

  position: relative;
}

.menu a:hover {
  background: rgb(48 183 58 / 46%);
}

.menu a.is-active {
  background: rgb(48 183 58 / 46%);
}

.menu a.is-active:hover:before {
  display: none;
}

/* dropdown  */

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  display: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
svg {
  height: 1.6rem;
  width: 1.6rem;
}
.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  
}
.dropdown-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.dropdown-title-icon,
.dropdown-arrow {
  display: inline-flex;
}
.dropdown-title {
  margin: 0 auto 0 1.8rem;
  text-transform: capitalize;
}
.dropdown-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.dropdown-button svg {
  transition: all var(--transition-time) var(--transition-timing);
  fill: #2c2c2c;
}
.dropdown-button svg,
.dropdown-button span {
  pointer-events: none;

}
.dropdown-button:hover,
.dropdown-button:focus {
  color: var(--text-active);
}
.dropdown-button:hover svg,
.dropdown-button:focus svg {
  
}
.main-button {
  height: 36px;
  padding: 0 1rem;
  margin-top: 10px;
  border-radius: 10px;
  background: rgb(48 183 58 / 46%);
  
  transition: all var(--transition-time) var(--transition-timing);
}
.main-button:focus {
  
}
.main-button .dropdown-arrow {
  transition: transform var(--transition-time) var(--transition-timing);
  transform: rotate(var(--rotate-arrow));
  margin-left: 1.8rem;
}
.list-button {
  height: var(--list-button-height);
  transition: color var(--transition-time) var(--transition-timing);
  color: var(--text-color);
  overflow: hidden;
  cursor: none;
  font-size: 1.6rem;
}
.dropdown-list-container {
  overflow: hidden;
  max-height: var(--dropdown-height);
  transition: max-height var(--transition-time) var(--transition-timing);
}
.dropdown-list-wrapper {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #333740de;
  border-radius: var(--border-radius);
  border: 0.1rem solid var(--border-color);
  position: relative;
}
ul.dropdown-list {
  position: relative;
  list-style-type: none;
}
ul.dropdown-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  height: var(--list-button-height);
  background: rgba(158, 157, 157, 0.144);
  transition: all var(--transition-time) linear;
  transform: translateY(var(--translate-value));
  border-radius: var(--border-radius);
  pointer-events: none;
  
}
ul.dropdown-list:hover::before,
ul.dropdown-list:hover ~ .floating-icon {
  opacity: 1;
}
li.dropdown-list-item {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  opacity: var(--list-opacity);
  transition: opacity 0.8s var(--transition-timing);
  
}

.floating-icon {
  height: calc(var(--floating-icon-size) * 1px);
  width: calc(var(--floating-icon-size) * 1px);
  position: absolute;
  top: var(--floating-icon-top);
  left: var(--floating-icon-left);
  background-color: var(--border-color);
  border-radius: 1rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-timing);
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.floating-icon svg {
  fill: var(--text-active);
}




/* carousel */
.carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  visibility: visible;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;

  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;

  background-image: url(../img/cyber15.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item__image {
  width: 60%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;

  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgb(47 51 60 / 59%);
}

.carousel-item__image .overlay .box-img {
  width: 800px;
  height: 650px;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
  opacity: 0.9;
  box-shadow: 25px 25px 0.4rem rgb(0 0 0 / 41%);
}

.carousel-item__subtitle {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #7e7e7e;
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 0 0;
  font-family: "Playfair Display", serif;
  font-size: 55px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2c2c2c;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #7e7e7e;
  line-height: 22px;
  margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image {
  /* background-image: url('https://images.pexels.com/photos/991012/pexels-photo-991012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  background-image: url(../img/img-carousel-1.jpg);
}

.carousel-item__image .overlay .box-img__1 {
  /* background-image: url('https://images.pexels.com/photos/991012/pexels-photo-991012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  background-image: url(../img/img-carousel-1.jpg);
}

.carousel-item--2 .carousel-item__image {
  /* background-image: url('https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&h=750&w=1260'); */
  background-image: url(../img/img-carousel-2.jpg);
}

.carousel-item__image .overlay .box-img__2 {
  /* background-image: url('https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&h=750&w=1260'); */
  background-image: url(../img/img-carousel-2.jpg);
}

.carousel-item--3 .carousel-item__image {
  /* background-image: url('https://images.pexels.com/photos/92733/pexels-photo-92733.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
  background-image: url(../img/img-carousel-3.jpg);
}

.carousel-item__image .overlay .box-img__3 {
  /* background-image: url('https://images.pexels.com/photos/92733/pexels-photo-92733.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
  background-image: url(../img/img-carousel-3.jpg);
}

.carousel-item--4 .carousel-item__image {
  /* background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
  background-image: url(../img/img-carousel-4.jpg);
}

.carousel-item__image .overlay .box-img__4 {
  /* background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
  background-image: url(../img/img-carousel-4.jpg);
}

.carousel-item--5 .carousel-item__image {
  /* background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  background-image: url(../img/img-carousel-5.jpg);
}

.carousel-item__image .overlay .box-img__5 {
  /* background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  background-image: url(../img/img-carousel-5.jpg);
}

.carousel-item__container {
  width: 90%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 50px 0px;
  padding-left: 20px;
  background-color: #ffffffb0;
}

.carousel-item__btn {
  width: 35%;
  color: #2c2c2c;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  background: rgb(48 183 58 / 46%);
  padding: 15px;
}

.carousel-item--1 .carousel-item__info .carousel-item__btn:nth-child(2) {
  margin-left: 20px;
}

.carousel__nav {
  position: absolute;
  left: 30%;
  bottom: 10%;
  z-index: 2;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
}

.carousel__arrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;
}

.carousel__arrow:nth-child(1):after {
  content: "";
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: #b0b0b0;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.active {
  z-index: 1;
  display: flex;
  visibility: visible;
}

.active .carousel-item__subtitle,
.active .carousel-item__title,
.active .carousel-item__description,
.active .carousel-item__btn {
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s all ease-in-out;
  visibility: visible;
}

.active .carousel-item__image {
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
}

/* For Tablet Header  */

@media (min-width: 491px) and (max-width: 740px) {
  /* nav  */
  nav {
    height: 50px;
  }

  .nav-container {
    height: 100%;

    justify-content: space-between;
    padding:  0 50px;
  }

  .nav-container h1 {
    font-size: 1.6rem;
  }

  .nav-container h1 i {
    font-size: 1.7rem;
  }

  /* menu  */

  .menu {
    display: none;
  }

  /* dropdown  */
  .dropdown {
    display: flex;
  }
  
  .main-button {
    background: rgba(48, 183, 57, 0.342);
  }


  /* carousel  */

  .carousel__nav {
    left: 23%;
    bottom: 5%;
  }

  .carousel__icon {
    width: 25px;
  }

  .carousel-item__image .overlay .box-img {
    width: 50%;
    height: 50%;
  }

  .carousel-item__info {
    padding: 0 20px;

    background-size: 190%;
  }

  .carousel-item__container {
    width: 100%;
    backdrop-filter: none;
  }

  .carousel-item__subtitle {
    font-size: 0.7rem;
  }

  .carousel-item__title {
    font-size: 1.5rem;
  }

  .carousel-item__description {
    line-height: 20px;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 14px;
  }

  .carousel-item__btn {
    display: block;
    width: 70%;
    margin: 20px 0 10px;
    padding: 13px 10px;
    text-align: center;
  }
}

/* For Mobile Header  */

@media (max-width: 490px) {
   /* nav  */
   nav {
    height: 50px;
  }

  .nav-container {
    height: 100%;

    justify-content: space-between;
    padding: 0;
    padding-left: 20px;
    padding-right: 10px;
  }

  .nav-container h1 {
    font-size: 1.1rem;
  }

  .nav-container h1 i {
    font-size: 1.2rem;
  }

  /* menu  */

  .menu {
    display: none;
  }

  /* dropdown  */
  .dropdown {
    display: flex;
  }
  
  .dropdown-button {
    font-size: 0.7rem !important;
  }
  
  .main-button {
    background: rgba(48, 183, 57, 0.342);
  }

  /* carousel  */

  .carousel {
    height: 70vh
  }

  .carousel__nav {
    left: 27%;
    bottom: 0;
  }

  .carousel__icon {
    width: 15px;
  }

  .carousel-item__image {
    width: 45%;
  }

  .carousel-item__image .overlay .box-img {
    width: 70%;
    height: 40%;
  }

  .carousel-item__info {
    padding: 0 25px;
    width: 55%;

    background-size: 190%;
    background-position: bottom;
  }

  .carousel-item__container {
    width: 100%;
    backdrop-filter: none;
    padding: 8px 10px;
  }

  .carousel-item__subtitle {
    font-size: 0.5rem;
  }

  .carousel-item__title {
    font-size: 1rem;
    margin: 5px 0 0;
  }

  .carousel-item__description {
    display: none;
  }

  .carousel-item__btn {
    display: block;
    font-size: 0.55rem;
    padding: 9px 7px;
    width: 90%;
    margin: 10px 0 0;
    text-align: center;
  }
}

/* ----------section----------- */
section {
}

/* projects */
.projects {
  font-family: "Arimo", sans-serif;
  margin: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  width: 50%;
}

.projects-title h2 {
  color: #35a22c;
  text-align: center;
  font-size: 2.5rem;
  margin: 40px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-shadow: 5px 3px 17px #35a22c;
  text-transform: uppercase;
}

.projects-title p {
  color: #000;
  text-align: center;
  font-size: 1rem;
  margin: 20px 0 40px;
  color: #596a72;
}

.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.tabs {
  margin-bottom: 10px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 10px;
  background: #fff;
  display: inline-block;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 0 1rem #0000002d;
  border: 1px solid transparent;

  transition: all linear 0.3s;
}

.tab:hover {
  border: 1px solid #35a22c;
}

.panels {
  width: 60%;
  overflow: hidden;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}

.radio {
  display: none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel {
  display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab {
  background-color: #35a22c;
  color: white;
}

.cards {
  width: 100%;
  padding: 40px;
}

.cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 50px;
}

.col {
  cursor: pointer;
}

#one-panel .cols {
  grid-template-rows: repeat(3, 1fr);
}

#one-panel .cols .col:first-child {
  grid-row: 1/3;
}

#one-panel .cols .col:nth-child(4) {
  grid-row: 2/3;
  grid-column: 2/4;
}

#one-panel .cols .col:nth-child(8) {
  grid-column: 1/3;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

#one-panel .col .container {
  height: 100%;
  width: 100%;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

#one-panel .col .front,
.back {
  height: 100%;
  width: 100%;
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
}

.back .inner {
  padding: 30px;
}

.back .inner a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
  color: #fff;
  padding: 10px 15px;
  background-color: #36a22c69;
  font-size: 0.9rem;
  border-radius: 20px;
}

.back .inner p {
  font-size: 1.3rem;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  height: 100%;
  width: 100%;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}

/* about */
.about-content-area {
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../img/cyber14.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  position: relative;
}

.about-content-area .block-about {
  display: flex;
}

.about-content-area::before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  background: rgba(7, 10, 12, 0.72);
}

.about-content-area .about-image {
  position: relative;
  padding-top: 40px;
}

.about-content-area .border-colors {
  padding: 0px 60px;
}

.about-content-area .border-colors::after {
  content: "";
  width: 83%;
  height: 98%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  border: 2px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 5%);

  position: absolute;
  z-index: 10;
  left: 44px;
  top: 9px;
}

.about-content-area img {
  max-width: 420px;
  height: 600px;
  object-fit: cover;

  padding-bottom: 20px;
}

.about-content-area h4 {
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0px;
}

.about-content-area p {
  font-size: 20px;
}

.about-content-area .about-details {
  padding: 10px 0px;
}

.about-content-area .about-details div {
  padding: 10px 0px;
  font-size: 18px;
}

.about-content-area .about-details div span {
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  font-size: 20px;
  background-color: rgb(40 157 62 / 20%);
  border-radius: 20px;
  width: 100px;
  text-align: center;
  padding: 8px;
  margin-right: 20px;
}

.about-content-area a {
  color: var(--white);
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 0 0 20px #35a22c;
  width: 200px;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 800;
}

.about-content-area a:hover {
  animation: nhapnhay 0.7s linear infinite;
}

@keyframes nhapnhay {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 0 20px #35a22c;
  }

  100% {
    box-shadow: none;
  }
}

.about-content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  z-index: 101;
}

/* skills */
.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;

  height: 300px;
  width: 95%;
  color: #fff;
  margin: 80px 0 40px;
  padding: 20px 40px;
  overflow: hidden;
}

.skills-item {
  text-align: center;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  position: relative;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
}

.skills-number {
  font-size: 6rem;
  margin: 20px 0;
}

.skills .skills-item::before {
  content: " ";
  width: 100%;
  height: 100%;
  /* box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%); */
  /* border: 2px solid rgba(255,255,255,.18); */
  background: rgba(158, 157, 157, 0.144);
  border-radius: 20px;

  position: absolute;
  top: 0;
  left: 0;
}

.skills-item:hover {
  animation: run-around 0.7s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  border-radius: 20px;
  cursor: pointer;
}

@keyframes run-around {
  0% {
    border-top: 2px solid #35a22c;
  }

  50% {
    border-right: 2px solid #35a22c;
  }

  75% {
    border-left: 2px solid #35a22c;
  }

  100% {
    border-bottom: 2px solid #35a22c;
  }
}

.skills-item h5 {
  font-size: 1.5rem;
  text-decoration: underline;
}

/* For Tablet Section  */

@media (min-width: 491px) and (max-width: 740px) {
  .projects {
    
  }

  /* projects-title  */
  .projects-title {
    width: 85%;
  }

  .projects-title h2 {
    font-size: 2rem;
  }

  /* warpper  */  

  .tabs .tab {
    padding: 7px;
  }

  .panels {
    width: 100%;
  }

  .cols {
    gap: 10px;
  }

  #one-panel .cols {
    grid-template-rows: none;
    gap: 10px;
  }

  #one-panel .cols .col:nth-child(5), 
  #one-panel .cols .col:nth-child(6),
  #one-panel .cols .col:nth-child(7),
  #one-panel .cols .col:nth-child(8),
  #one-panel .cols .col:nth-child(9) {
    display: none;
  }

  #one-panel .cols .col:first-child {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .front .inner p {
    font-size: 1.5rem;
  }

  .front .inner span {
    font-size: 1.1rem;
  }

  .back .inner p {
    font-size: 1.1rem;
  }

  /* about-content-area  */

  .about-content-area {
    padding: 50px;
    text-align: center;

    position: relative;

  }

  .about-content-area p {
    font-size: 1rem;
  }

  .block-about {
    flex-direction: column-reverse;

  }

  .about-details {
    text-align: start;
  }

  .about-image {
    position: absolute !important;
    top: 24%;
    right: 3%;
  }

  .border-colors img {
    max-width: 250px;
    height: 250px;

  }

  .about-content-area .border-colors::after {
    width: 74%;
    height: 91%;

    left: 44px;
    top: 18px;
  }

  .about-content-area a {
    margin-left: 35%; 
    width: 180px;
    text-align: center;
  }

  .skills {
    width: 100%;
    gap: 10px;
    margin: 40px 0 0;
    padding: 0;
    height: 180px;
  }

  .skills-number {
    font-size: 3.5rem;
    margin: 0;

  }

  .skills-item h5 {
    font-size: 1.2rem;
  }

}

/* For Mobile Section  */

@media (max-width: 490px) {
  .projects {
    margin: 20px 0;
  }

  /* projects-title  */
  .projects-title {
    width: 85%;
    margin: 50px 0 30px
  }

  .projects-title h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .projects-title p {
    font-size: 0.8rem;
    margin: 20px 0;
  }

  /* warpper  */  

  .tabs .tab {
    padding: 7px;
    font-size: 0.8rem;
  }

  .panels {
    width: 100%;
  }

  .panel {
    margin-top: 30px;
  }

  .cards {
    padding: 0 20px 40px;
  }

  .cols {
    gap: 10px;
  }

  .cols .col:first-child {
    grid-column: 1/4;
  }

  .cols .col:nth-child(2) {
    grid-column: 1/4;
  }

  .cols .col:nth-child(3) {
    grid-column: 1/4;
  }

  #one-panel .cols {
    grid-template-rows: none;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  #one-panel .cols .col:nth-child(5), 
  #one-panel .cols .col:nth-child(6),
  #one-panel .cols .col:nth-child(7),
  #one-panel .cols .col:nth-child(8),
  #one-panel .cols .col:nth-child(9) {
    display: none;
  }

  #one-panel .cols .col:first-child {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  #one-panel .cols .col:nth-child(2), 
  #one-panel .cols .col:nth-child(4) {
    grid-column: 3/5;
  }

  #one-panel .cols .col:nth-child(3) {
    grid-column: 1/3;
  }

  .front, .back {
    box-shadow: none ;
  }

  .front .inner {
    padding: 0;
  }


  .front .inner p {
    font-size: 1.1rem;
  }

  .front .inner span {
    font-size: 0.9rem;
  }

  .back .inner {
    padding: 0 10px;

  }

  .back .inner p {
    font-size: 0.9rem;

  }

  .back .inner a {
    font-size: 0.7rem;
    padding: 7px 10px;
  }

  /* about-content-area  */

  .about-content-area {
    padding: 50px 20px;
    text-align: center;
  }

  .block-about {
    flex-direction: column;

  }

  .about-content h4 {
    font-size: 1.5rem;
  }

  .about-content p {
    display: none;
  }

  .about-details {
    text-align: start;
    
  }

  .about-content-area .about-details div {
    font-size: 0.9rem;
  }

  .about-content-area .about-details div span {
    font-size: 0.9rem;
    padding: 5px;
  }

  .about-image {
    
  }

  .border-colors img {
    max-width: 200px;
    height: 200px;

  }

  .about-content-area .border-colors::after {
    width: 70%;
    height: 85%;
    left: 44px;
    top: 23px;
  }

  .about-content-area a {
    margin-left: 26%;
    width: 150px;
    text-align: center;
    padding: 5px 10px;
    font-size: 0.9rem;
  }

  .skills {
    width: 100%;
    gap: 10px;
    margin: 40px 0 0;
    padding: 0;
    height: 120px;
  }

  .skills-number {
    font-size: 2rem;
    margin: 5px 0 0;
  }

  .skills-item h5 {
    font-size: 0.9rem;
  }



  
}


/* ------------footer----------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

/* contact  */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px;
  width: 60%;
}

.contact-title {
  background-color: #36a22cd2;
  border: 6px double #fff;
}

.contact-title h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 800;
  color: #fff;
  padding: 10px;
}

.contact-content {
  display: flex;
  justify-content: space-around;

  width: 100%;
  padding: 30px 0;
  padding-right: 50px;
  overflow: hidden;

  background-image: url(../img/cyber15.png);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);

  position: relative;
}

.contact-content::before {
  content: "";
  width: 100%;
  height: 100%;

  background-image: url(../img/cyber15.png);
  background-position: bottom right;
  background-size: 50% auto;
  background-repeat: no-repeat;

  position: absolute;
  top: -64%;
  right: -49%;
  transform: rotate(45deg);
}

.contact-content-email {
}

.email-title {
}

.email-title h1 {
  font-size: 2.5rem;
  color: #35a22c;
}

.email-title h5 {
  font-size: 1.5rem;
}

.form-email {
}

.form-email input {
  height: 40px;
  border-radius: 15px;
  padding-left: 10px;
  background-color: #2a262685;
  border: black;
  cursor: pointer;

}

.form-email input::placeholder {
  color: #fff;
}

.form-email textarea {
  background-color: #2a262685;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
}

.form-email textarea::placeholder {
  color: #fff;
  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mes1 {
  display: none;
}

.mes2 {
  display: none;
}

.form-email .submit {
  color: #fff;
  padding: 10px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #36a22cc0;
}

.form-email .submit:hover {
  box-shadow: 0 0 10px 5px green;
  cursor: pointer;
}

.contact-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 0 100px;
}

.contact-content-info h1 {
  color: #35a22c;
  font-size: 2.5rem;
}

.contact-content-info .address {
  list-style: none;
  line-height: 3;
}

.address li {
  font-size: 1.2rem;
  font-weight: 600;
}

.contact-content-info .social {
}

.social h2 {
  font-size: 2.5rem;
  color: #35a22c;
}

.social .items {
  list-style: none;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
}

.items li {
  background-color: #7e7e7e73;
  margin-right: 30px;
  box-shadow: 0px 0px 10px 0.1rem rgba(0, 0, 0, 0.349);

}

.items li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.items li i {
  font-size: 30px;
  border: none;
  padding: 5px;
}

/* copyright */
.copyright {
  background: #222;
  color: #aaa;
  text-align: center;
  width: 100%;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright-social a {
  color: #aaa !important;
  margin: 0 5px;
}

.copyright-social a i {
  width: 42px;
  height: 42px;
  font-size: 18px;
  border: 1px solid #454545;
  border-radius: 50%;
  padding-top: 10px;
  transition: all linear 0.5s;
}

.copyright-social a:hover i {
  color: #35a22c;
  border: 1px solid #35a22c;
}

.copyright-content {
  margin: 30px 0 10px;
  padding-top: 30px;
  border-top: 1px solid #454545;
  font-size: 1.3rem;
}

.copyright-content a {
  color: #aaa;
  text-decoration: none;
  transition: all linear 0.2s;
}

.copyright-content a:hover {
  color: #35a22c;
}

/* back-to-top  */

.cd-top--is-visible {
  /* back-to-top button visible */
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  /* reduce button opacity if user keeps scrolling */
  opacity: 0.5;
}

.cd-top {
  position: absolute;
  bottom: 14%;
  right: 2%;

  padding: 15px;
  background: rgba(255, 253, 253, 0.145);
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 0 0 10px rgba(131, 129, 129, 0.164);

  display: flex;
  align-items: center;
  justify-content: center;

  animation: back-to-top 0.9s ease-in-out infinite;
}

.cd-top i {
  color: #45c5399f;
  font-size: 4rem;
}

@keyframes back-to-top {
  0% {
    box-shadow: 0 0 0 10px rgba(131, 129, 129, 0.164);
  }

  50% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0 0 0 10px rgba(131, 129, 129, 0.164);
  }
}

/* For Tablet Footer  */

@media (min-width: 491px) and (max-width: 740px) {

  /* contact  */
  .contact {
    width: 100%;
    padding: 30px;
  }

  .contact-title h1 {
    font-size: 1.3rem;
  }

  .contact-content {
    overflow: hidden;
    padding-right: 0;
  }

  .contact-content::before {
    top: -66%;
    right: -61%;
  }

  .email-title {
    padding-left: 25px;
  }

  .email-title h1 {
    font-size: 1.8rem;
  }

  .email-title h5 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .form-email input {
    height: 30px;
    width: 230px;
    margin-bottom: 10px;
  }

  br {
    display: none;
  }

  .contact-content-email {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 0;
  }

  .form-email {
    display: flex;
    flex-direction: column;

  }

  .form-email .text {
    height: 30px;
    padding: 0 27px;
    margin: 10px 0;
  }

  .mes {
    display: none;
  }

  .mes1 {
    display: inline;
    margin-bottom: 20px;
  }

  .mes2 {
    display: none;
  }

  .submit {
    padding-bottom: 30px;
    font-size: 0.9rem !important;
  }

  .contact-content-info {
    justify-content: space-evenly;
  }

  .contact-content-info h1 {
    font-size: 1.8rem;
  }

  .address li {
    font-size: 1.1rem;
  }

  .social h2 {
    font-size: 1.8rem;
  }

  .items li i {
    font-size: 1.4rem;
  }

  /* copyright  */
  .copyright {
    height: 180px;
  }

  .copyright-content {
    font-size: 1.1rem;
  }

  /* back-to-top  */
  .cd-top {
    bottom: 10.5%;
    right: 2%;
  }

  .cd-top i {
    font-size: 2.3rem;
  }


}

/* For Mobile Footer  */

@media (max-width: 490px) {
  .contact {
    width: 100%;
    padding: 30px;
  }

  .contact-title h1 {
    font-size: 1.1rem;
  }

  .contact-content {
    overflow: hidden;
    padding-right: 0;

    flex-direction: column;
  }

  .contact-content::before {
    top: -66%;
    right: -23%;
    background-size: 70% auto;
  }

  .email-title {
    text-align: center;
  }

  .email-title h1 {
    font-size: 1.8rem;
  }

  .email-title h5 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .form-email input {
    height: 34px;
    width: 145px;
    margin-bottom: 10px;
  }

  .contact-content-email {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 0;
  }

  .form-email {
    text-align: center;

  }

  .form-email .text {
    height: 30px;
    padding: 0 27px;
    
  }

  br {
    display: none;
  }

  .mes {
    display: none;
  }

  .mes2 {
    display: inline;
    margin-bottom: 20px;
  }

  .mes1 {
    display: none;
  }

  .submit {
    padding-bottom: 30px;
    font-size: 0.9rem !important;
  }

  .contact-content-info {
    align-items: center;
    padding-bottom: 20px;
    
    position: relative;

    
  }

  .contact-content-info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 31px;
    z-index: 100;
    width: 86%;
    height: 100%;
    background: rgb(76 70 70 / 4%) !important;
    box-shadow: 0 0 14px 0 rgb(0 0 0 / 30%);
    border-radius: 20px;

    animation: nhapnhay-info 1s linear infinite;
  }

  @keyframes nhapnhay-info {
    0% {
      box-shadow: 0 0 14px 0 rgb(0 0 0 / 30%);
    }

    50% {
      box-shadow: none;
    }

    100% {
    box-shadow: 0 0 14px 0 rgb(0 0 0 / 30%)
    }
  }

  .contact-content-info h1 {
    font-size: 1.6rem;
    position: relative;
    z-index: 101;
  }

  .address {
    text-align: center;
    position: relative;
    z-index: 101;
  }

  .address li {
    font-size: 1rem;
    position: relative;
    z-index: 101;
  }

  .social {
    text-align: center;
    margin-top: 20px;

    position: relative;
    z-index: 101;
  }

  .social::after {
    content: "";
    position: absolute;
    top: -18%;
    left: 25px;
    width: 80%;
    border-top: 2px dashed;
    height: 2px;
  }

  .social h2 {
    font-size: 1.4rem;
  }

  .items li {
    margin: 0 10px;
  }

  .items li i {
    font-size: 1.4rem;
  }

  /* copyright  */
  .copyright {
    height: 200px;
  }

  .copyright-content {
    font-size: 0.9rem;
  }

  .copyright-social a i {
    width: 38px;
    height: 38px;
    font-size: 16px;
  }

  /* back-to-top  */
  .cd-top {
    bottom: 10.5%;
    right: 2%;

    padding: 10px;
  }

  .cd-top i {
    font-size: 2rem;
  }
}

